<div class="container custom-container">
    <div class="col-md-12">
        <h3 class="mb-3 text-center">Actualizar usuario</h3>
        <div class="form-group">
            <input type="text" [(ngModel)]="usuarioEdicion.id_seg_usuario" class="form-control" placeholder="Codigo">
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)]="usuarioEdicion.codigo" class="form-control" placeholder="Codigo">
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)]="usuarioEdicion.nombres" class="form-control" placeholder="Nombre">
        </div>
        <div class="form-group">
            <input type="text" id="apellidos" [(ngModel)]="usuarioEdicion.apellidos" class="form-control" placeholder="Apellido">
        </div>
        <div class="form-group">
            <input type="email" id="correo" [(ngModel)]="usuarioEdicion.correo" class="form-control" placeholder="Correo">
        </div>
        <div class="form-group">
            <input type="password" id="clave" [(ngModel)]="usuarioEdicion.clave" class="form-control" placeholder="Clave">
        </div>
        <div class="form-group">
            <input type="text" id="activo" [(ngModel)]="usuarioEdicion.activo" class="form-control" placeholder="Activo">
        </div>
        <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" (click)="actualizarUsuario()">Actualizar</button>
        </div>
    </div>
</div>

